// Emotions
.icn-anger {
    background-image: url('./emotions/anger.png');
    
    &.on {
        background-image: url('./emotions/anger-on.png');
    }
}
.icn-happy {
    background-image: url('./emotions/happy.png');
    
    &.on {
        background-image: url('./emotions/happy-on.png');
    }
}
.icn-calm {
    background-image: url('./emotions/calm.png');
    
    &.on {
        background-image: url('./emotions/calm-on.png');
    }
}
.icn-laugh {
    background-image: url('./emotions/laugh.png');
    
    &.on {
        background-image: url('./emotions/laugh-on.png');
    }
}
// Events
.icn-bbq {
    background-image: url('./event/bbq.png');
    
    &.on {
        background-image: url('./event/bbq-on.png');
    }
}
.icn-bday {
    background-image: url('./event/bday.png');
    
    &.on {
        background-image: url('./event/bday-on.png');
    }
}
.icn-friday {
    background-image: url('./event/friday.png');
    
    &.on {
        background-image: url('./event/friday-on.png');
    }
}
.icn-holiday {
    background-image: url('./event/holiday.png');
    
    &.on {
        background-image: url('./event/holiday-on.png');
    }
}
.icn-other {
    background-image: url('./event/other.png');
    
    &.on {
        background-image: url('./event/other-on.png');
    }
}
// Food and drinks
.icn-alcohol {
    background-image: url('./foodanddrinks/alcohol.png');
    
    &.on {
        background-image: url('./foodanddrinks/alcohol-on.png');
    }
}
.icn-ashkenzi {
    background-image: url('./foodanddrinks/ashkenzi.png');
    
    &.on {
        background-image: url('./foodanddrinks/ashkenzi-on.png');
    }
}
.icn-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.png');
    
    &.on {
        background-image: url('./foodanddrinks/mizrahi-on.png');
    }
}
.icn-other {
    background-image: url('./foodanddrinks/other.png');
    
    &.on {
        background-image: url('./foodanddrinks/other-on.png');
    }
}
// Objects
.icn-art {
    background-image: url('./objects/art.png');
    
    &.on {
        background-image: url('./objects/art-on.png');
    }
}
.icn-art {
    background-image: url('./objects/art.png');
    
    &.on {
        background-image: url('./objects/art-on.png');
    }
}
.icn-chairs {
    background-image: url('./objects/chairs.png');
    
    &.on {
        background-image: url('./objects/chairs-on.png');
    }
}
.icn-communication {
    background-image: url('./objects/communication.png');
    
    &.on {
        background-image: url('./objects/communication-on.png');
    }
}
.icn-light {
    background-image: url('./objects/light.png');
    
    &.on {
        background-image: url('./objects/light-on.png');
    }
}
.icn-tools {
    background-image: url('./objects/tools.png');
    
    &.on {
        background-image: url('./objects/tools-on.png');
    }
}
// Subjects
.icn-food {
    background-image: url('./subject/food.png');
    
    &.on {
        background-image: url('./subject/food-on.png');
    }
}
.icn-memory {
    background-image: url('./subject/memory.png');
    
    &.on {
        background-image: url('./subject/memory-on.png');
    }
}
.icn-photography {
    background-image: url('./subject/photography.png');
    
    &.on {
        background-image: url('./subject/photography-on.png');
    }
}
.icn-politiks {
    background-image: url('./subject/politiks.png');
    
    &.on {
        background-image: url('./subject/politiks-on.png');
    }
}
.icn-text {
    background-image: url('./subject/text.png');
    
    &.on {
        background-image: url('./subject/text-on.png');
    }
}
