// Emotions
.icn-timeline-anger {
    background-image: url('./emotions/anger.png');


}

.icn-timeline-happy {
    background-image: url('./emotions/happy.png');


}

.icn-timeline-calm {
    background-image: url('./emotions/calm.png');


}

.icn-timeline-laugh {
    background-image: url('./emotions/laugh.png');


}

// Events
.icn-timeline-bbq {
    background-image: url('./event/bbq.png');


}

.icn-timeline-bday {
    background-image: url('./event/bday.png');


}

.icn-timeline-friday {
    background-image: url('./event/friday.png');


}

.icn-timeline-holiday {
    background-image: url('./event/holiday.png');


}

.icn-timeline-other {
    background-image: url('./event/other.png');


}

// Food and drinks
.icn-timeline-alcohol {
    background-image: url('./foodanddrinks/alcohol.png');


}

.icn-timeline-ashkenazi {
    background-image: url('./foodanddrinks/ashkenazi.png');


}

.icn-timeline-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.png');


}

.icn-timeline-bread {
    background-image: url('./foodanddrinks/bread.png');
}
.icn-timeline-dessert {
    background-image: url('./foodanddrinks/dessert.png');
}

// Objects
.icn-timeline-art {
    background-image: url('./objects/art.png');


}

.icn-timeline-art {
    background-image: url('./objects/art.png');


}

.icn-timeline-chairs {
    background-image: url('./objects/chairs.png');


}

.icn-timeline-communication {
    background-image: url('./objects/communication.png');


}

.icn-timeline-light {
    background-image: url('./objects/light-on.png');


}

.icn-timeline-tools {
    background-image: url('./objects/tools.png');


}

// Subjects
.icn-timeline-food {
    background-image: url('./subject/food.png');


}

.icn-timeline-memory {
    background-image: url('./subject/memory.png');


}

.icn-timeline-photography {
    background-image: url('./subject/photography.png');


}

.icn-timeline-politiks {
    background-image: url('./subject/politiks.png');


}

.icn-timeline-text {
    background-image: url('./subject/text.png');


}
