// Emotions
.icn-timeline-embarrassment {
    background-image: url('./emotions/embarrassment.svg');

    &.on, &:hover {
        background-image: url('./emotions/embarrassment-on.svg');
    }
}
.icn-timeline-anger {
    background-image: url('./emotions/anger.svg');

    &.on, &:hover {
        background-image: url('./emotions/anger-on.svg');
    }
}

.icn-timeline-happy {
    background-image: url('./emotions/happy.svg');

    &.on, &:hover {
        background-image: url('./emotions/happy-on.svg');
    }
}

.icn-timeline-calm {
    background-image: url('./emotions/calm.svg');

    &.on, &:hover {
        background-image: url('./emotions/calm-on.svg');
    }
}

.icn-timeline-laugh {
    background-image: url('./emotions/laugh.svg');

    &.on, &:hover {
        background-image: url('./emotions/laugh-on.svg');
    }
}

// Food and drinks
.icn-timeline-alcohol {
    background-image: url('./foodanddrinks/alcohol.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/alcohol-on.svg');
    }
}

.icn-timeline-ashkenazi {
    background-image: url('./foodanddrinks/ashkenazi.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/ashkenazi-on.svg');
    }
}

.icn-timeline-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/mizrahi-on.svg');
    }
}

.icn-timeline-bread {
    background-image: url('./foodanddrinks/bread.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/bread-on.svg');
    }
}
.icn-timeline-dessert {
    background-image: url('./foodanddrinks/dessert.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/dessert-on.svg');
    }
}


// Objects
.icn-timeline-art {
    background-image: url('./objects/art.svg');

    &.on, &:hover {
        background-image: url('./objects/art-on.svg');
    }
}


.icn-timeline-chairs {
    background-image: url('./objects/chairs.svg');

    &.on, &:hover {
        background-image: url('./objects/chairs-on.svg');
    }
}

.icn-timeline-communication {
    background-image: url('./objects/communication.svg');

    &.on, &:hover {
        background-image: url('./objects/communication-on.svg');
    }
}

.icn-timeline-light {
    background-image: url('./objects/light.svg');

    &.on, &:hover {
        background-image: url('./objects/light-on.svg');
    }
}

.icn-timeline-tools {
    background-image: url('./objects/tools.svg');

    &.on, &:hover {
        background-image: url('./objects/tools-on.svg');
    }
}

// Subjects
.icn-timeline-food {
    background-image: url('./subject/food.svg');

    &.on, &:hover {
        background-image: url('./subject/food-on.svg');
    }
}

.icn-timeline-memory {
    background-image: url('./subject/memory.svg');

    &.on, &:hover {
        background-image: url('./subject/memory-on.svg');
    }
}

.icn-timeline-photography {
    background-image: url('./subject/photography.svg');

    &.on, &:hover {
        background-image: url('./subject/photography-on.svg');
    }
}

.icn-timeline-politiks {
    background-image: url('./subject/politiks.svg');

    &.on, &:hover {
        background-image: url('./subject/politiks-on.svg');
    }
}

.icn-timeline-text {
    background-image: url('./subject/text.svg');

    &.on, &:hover {
        background-image: url('./subject/text-on.svg');
    }
}
