// Emotions
.icn-timeline-embarrassment {
    background-image: url('./emotions/embarrassment.png');

    &.on, &:hover {
        background-image: url('./emotions/embarrassment-on.png');
    }
}
.icn-timeline-anger {
    background-image: url('./emotions/anger.png');

    &.on, &:hover {
        background-image: url('./emotions/anger-on.png');
    }
}

.icn-timeline-happy {
    background-image: url('./emotions/happy.png');

    &.on, &:hover {
        background-image: url('./emotions/happy-on.png');
    }
}

.icn-timeline-calm {
    background-image: url('./emotions/calm.png');

    &.on, &:hover {
        background-image: url('./emotions/calm-on.png');
    }
}

.icn-timeline-laugh {
    background-image: url('./emotions/laugh.png');

    &.on, &:hover {
        background-image: url('./emotions/laugh-on.png');
    }
}

// Events
.icn-timeline-bbq {
    background-image: url('./event/bbq.png');

}

.icn-timeline-bday {
    background-image: url('./event/bday.png');

}

.icn-timeline-friday {
    background-image: url('./event/friday.png');

}

.icn-timeline-holiday {
    background-image: url('./event/holiday.png');

}

.icn-timeline-other {
    background-image: url('./event/other.png');

}

// Food and drinks
.icn-timeline-alcohol {
    background-image: url('./foodanddrinks/alcohol.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/alcohol-on.png');
    }
}

.icn-timeline-ashkenazi {
    background-image: url('./foodanddrinks/ashkenazi.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/ashkenazi-on.png');
    }
}

.icn-timeline-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/mizrahi-on.png');
    }
}

.icn-timeline-bread {
    background-image: url('./foodanddrinks/bread.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/bread-on.png');
    }
}
.icn-timeline-dessert {
    background-image: url('./foodanddrinks/dessert.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/dessert-on.png');
    }
}


// Objects
.icn-timeline-art {
    background-image: url('./objects/art.png');

    &.on, &:hover {
        background-image: url('./objects/art-on.png');
    }
}


.icn-timeline-chairs {
    background-image: url('./objects/chairs.png');

    &.on, &:hover {
        background-image: url('./objects/chairs-on.png');
    }
}

.icn-timeline-communication {
    background-image: url('./objects/communication.png');

    &.on, &:hover {
        background-image: url('./objects/communication-on.png');
    }
}

.icn-timeline-lights {
    background-image: url('./objects/light.png');

    &.on, &:hover {
        background-image: url('./objects/light-on.png');
    }
}

.icn-timeline-tools {
    background-image: url('./objects/tools.png');

    &.on, &:hover {
        background-image: url('./objects/tools-on.png');
    }
}

// Subjects
.icn-timeline-food {
    background-image: url('./subject/food.png');

    &.on, &:hover {
        background-image: url('./subject/food-on.png');
    }
}

.icn-timeline-memory {
    background-image: url('./subject/memory.png');

    &.on, &:hover {
        background-image: url('./subject/memory-on.png');
    }
}

.icn-timeline-photography {
    background-image: url('./subject/photography.png');

    &.on, &:hover {
        background-image: url('./subject/photography-on.png');
    }
}

.icn-timeline-politiks {
    background-image: url('./subject/politiks.png');

    &.on, &:hover {
        background-image: url('./subject/politiks-on.png');
    }
}

.icn-timeline-text {
    background-image: url('./subject/text.png');

    &.on, &:hover {
        background-image: url('./subject/text-on.png');
    }
}
