.icn-home-hebrew {
    background-image: url('./hebrew.svg');

    &.on, &:hover {
        background-image: url('./hebrew-on.svg');
    }
}
.icn-home-english {
    background-image: url('./english.svg');

    &.on, &:hover {
        background-image: url('./english-on.svg');
    }
}
.icn-home-ruski {
    background-image: url('./ruski.svg');

    &.on, &:hover {
        background-image: url('./ruski-on.svg');
    }
}
.icn-home-espanol {
    background-image: url('./espanol.svg');

    &.on, &:hover {
        background-image: url('./espanol-on.svg');
    }
}
