.side-panel-icn {
    background-repeat: no-repeat;
    // background-position: 15px -30px;
}

.icn-info-bbq {
    background-image: url('./bbq.svg');
}
.icn-info-bday {
    background-image: url('./bday.svg');
}
.icn-info-friday {
    background-image: url('./friday.svg');
}
.icn-info-holiday {
    background-image: url('./holiday.svg');
}
.icn-info-other {
    background-image: url('./other.svg');
}
