// Emotions
.icn-home-anger {
    background-image: url('./emotions/anger.png');

    &.on, &:hover {
        background-image: url('./emotions/anger-on.png');
    }
}
.icn-home-happy {
    background-image: url('./emotions/happy.png');

    &.on, &:hover {
        background-image: url('./emotions/happy-on.png');
    }
}
.icn-home-calm {
    background-image: url('./emotions/calm.png');

    &.on, &:hover {
        background-image: url('./emotions/calm-on.png');
    }
}
.icn-home-laugh {
    background-image: url('./emotions/laugh.png');

    &.on, &:hover {
        background-image: url('./emotions/laugh-on.png');
    }
}
.icn-home-embarasment {
    background-image: url('./emotions/embarasment.png');

    &.on, &:hover {
        background-image: url('./emotions/embarasment-on.png');
    }
}
// Events
.icn-home-bbq {
    background-image: url('./event/bbq.png');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/bbq-on.png');
        }
    }
}
.icn-home-bday {
    background-image: url('./event/bday.png');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/bday-on.png');
        }
    }
}
.icn-home-friday {
    background-image: url('./event/friday.png');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/friday-on.png');
        }
    }
}
.icn-home-holiday {
    background-image: url('./event/holiday.png');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/holiday-on.png');
        }
    }
}
.icn-home-event-other {
    background-image: url('./event/other.png');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/other-on.png');
        }
    }
}
// Food and drinks
.icn-home-alcohol {
    background-image: url('./foodanddrinks/alcohol.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/alcohol-on.svg');
    }
}
.icn-home-ashkenazi {
    background-image: url('./foodanddrinks/ashkenazi.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/ashkenazi-on.png');
    }
}
.icn-home-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/mizrahi-on.png');
    }
}
.icn-home-bread {
    background-image: url('./foodanddrinks/bread.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/bread-on.png');
    }
}
.icn-home-dessert {
    background-image: url('./foodanddrinks/dessert.png');

    &.on, &:hover {
        background-image: url('./foodanddrinks/dessert-on.png');
    }
}
// Objects
.icn-home-art {
    background-image: url('./objects/art.png');

    &.on, &:hover {
        background-image: url('./objects/art-on.png');
    }
}
.icn-home-art {
    background-image: url('./objects/art.png');

    &.on, &:hover {
        background-image: url('./objects/art-on.png');
    }
}
.icn-home-chairs {
    background-image: url('./objects/chairs.png');

    &.on, &:hover {
        background-image: url('./objects/chairs-on.png');
    }
}
.icn-home-communication {
    background-image: url('./objects/communication.png');

    &.on, &:hover {
        background-image: url('./objects/communication-on.png');
    }
}
.icn-home-light {
    background-image: url('./objects/light.png');

    &.on, &:hover {
        background-image: url('./objects/light-on.png');
    }
}
.icn-home-tools {
    background-image: url('./objects/tools.png');

    &.on, &:hover {
        background-image: url('./objects/tools-on.png');
    }
}
// Subjects
.icn-home-food {
    background-image: url('./subject/food.png');

    &.on, &:hover {
        background-image: url('./subject/food-on.png');
    }
}
.icn-home-memory {
    background-image: url('./subject/memory.png');

    &.on, &:hover {
        background-image: url('./subject/memory-on.png');
    }
}
.icn-home-photography {
    background-image: url('./subject/photography.png');

    &.on, &:hover {
        background-image: url('./subject/photography-on.png');
    }
}
.icn-home-politiks {
    background-image: url('./subject/politiks.png');

    &.on, &:hover {
        background-image: url('./subject/politiks-on.png');
    }
}
.icn-home-text {
    background-image: url('./subject/text.png');

    &.on, &:hover {
        background-image: url('./subject/text-on.png');
    }
}
