// Emotions
.icn-home-anger {
    background-image: url('./emotions/anger.svg');

    &.on, &:hover {
        background-image: url('./emotions/anger-on.svg');
    }
}
.icn-home-happy {
    background-image: url('./emotions/happy.svg');

    &.on, &:hover {
        background-image: url('./emotions/happy-on.svg');
    }
}
.icn-home-calm {
    background-image: url('./emotions/calm.svg');

    &.on, &:hover {
        background-image: url('./emotions/calm-on.svg');
    }
}
.icn-home-laugh {
    background-image: url('./emotions/laugh.svg');

    &.on, &:hover {
        background-image: url('./emotions/laugh-on.svg');
    }
}
.icn-home-embarrassment {
    background-image: url('./emotions/embarrassment.svg');

    &.on, &:hover {
        background-image: url('./emotions/embarrassment-on.svg');
    }
}
// Events
.icn-home-bbq {
    background-image: url('./event/bbq.svg');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/bbq-on.svg');
        }
    }
}
.icn-home-bday {
    background-image: url('./event/bday.svg');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/bday-on.svg');
        }
    }
}
.icn-home-friday {
    background-image: url('./event/friday.svg');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/friday-on.svg');
        }
    }
}
.icn-home-holiday {
    background-image: url('./event/holiday.svg');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/holiday-on.svg');
        }
    }
}
.icn-home-event-other {
    background-image: url('./event/other.svg');

    &:not(.no-hover) {
        &.on, &:hover {
            background-image: url('./event/other-on.svg');
        }
    }
}
// Food and drinks
.icn-home-alcohol {
    background-image: url('./foodanddrinks/alcohol.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/alcohol-on.svg');
    }
}
.icn-home-ashkenazi {
    background-image: url('./foodanddrinks/ashkenazi.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/ashkenazi-on.svg');
    }
}
.icn-home-mizrahi {
    background-image: url('./foodanddrinks/mizrahi.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/mizrahi-on.svg');
    }
}
.icn-home-bread {
    background-image: url('./foodanddrinks/bread.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/bread-on.svg');
    }
}
.icn-home-dessert {
    background-image: url('./foodanddrinks/dessert.svg');

    &.on, &:hover {
        background-image: url('./foodanddrinks/dessert-on.svg');
    }
}
// Objects
.icn-home-art {
    background-image: url('./objects/art.svg');

    &.on, &:hover {
        background-image: url('./objects/art-on.svg');
    }
}
.icn-home-art {
    background-image: url('./objects/art.svg');

    &.on, &:hover {
        background-image: url('./objects/art-on.svg');
    }
}
.icn-home-chairs {
    background-image: url('./objects/chairs.svg');

    &.on, &:hover {
        background-image: url('./objects/chairs-on.svg');
    }
}
.icn-home-communication {
    background-image: url('./objects/communication.svg');

    &.on, &:hover {
        background-image: url('./objects/communication-on.svg');
    }
}
.icn-home-light {
    background-image: url('./objects/light.svg');

    &.on, &:hover {
        background-image: url('./objects/light-on.svg');
    }
}
.icn-home-tools {
    background-image: url('./objects/tools.svg');

    &.on, &:hover {
        background-image: url('./objects/tools-on.svg');
    }
}
// Subjects
.icn-home-food {
    background-image: url('./subject/food.svg');

    &.on, &:hover {
        background-image: url('./subject/food-on.svg');
    }
}
.icn-home-memory {
    background-image: url('./subject/memory.svg');

    &.on, &:hover {
        background-image: url('./subject/memory-on.svg');
    }
}
.icn-home-photography {
    background-image: url('./subject/photography.svg');

    &.on, &:hover {
        background-image: url('./subject/photography-on.svg');
    }
}
.icn-home-politiks {
    background-image: url('./subject/politiks.svg');

    &.on, &:hover {
        background-image: url('./subject/politiks-on.svg');
    }
}
.icn-home-text {
    background-image: url('./subject/text.svg');

    &.on, &:hover {
        background-image: url('./subject/text-on.svg');
    }
}
