/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face { font-family: Narkiss; src: url("./fonts/Narkiss-Regular.otf") format("opentype");}
@font-face { font-family: Narkiss; font-weight: bold; src: url("./fonts/Narkiss-Bold.otf") format("opentype");}

html,body {
    font-family: 'Narkiss';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.rc-slider {
    max-width: 250px;
}

.rc-slider-dot,
.rc-slider-track {
    visibility: hidden;
}

.rc-slider-mark {
    top: 30px;
}

.rc-slider-step {
    background-color: #000;
    height: 2px;
}

.rs-slider-handle,
.rc-slider-handle {
    background-color: #0500FF;
    border: 0;
    border-radius: 0;
    width: 3px;
    height: 20px;
    margin-top: -8px;
}

.rs-slider,
.rs-slider-bar {
    width: 100%;
}

.rs-slider-bar {
    height: 2px;
    background-color: #000;
}

.rs-slider-handle {
    position: relative;
}

.rs-tooltip-inner {
    left: -15px;
    position: relative;
    top: -19px;
    color: #0500FF;
}

.year-slider-labels {
    width: 100%;
    max-width: 245px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

video {
    width: 100%;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.plus-sign {
    display: none;
    width: 17px;
    height: 17px;
    background-image: url('./plus-sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top:0;
    left:0;
    margin: -8px -8px;
    z-index: 1123;
}
